h1{
  color: black;
  font-family: baskerville, serif;
  font-size: 18px
  
}
h2 {
    color: black;
    font-family: Andale Mono, sans-serif; 
    font-size: 16px
}
p {
	color: black; 
	font-family: Sans-serif;
	font-size: 12px;
}
img {
	width: 100px
}
ul {
    font-family: Sans-serif;
	font-size: 12px;
}
